*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
    line-height: 1.3em;
}

h1{
    font-size: 64px;
    line-height: 1.1em;
    color: #ffffff;
}
h2{
    font-size: 48px;
    line-height: 1.1em;
    color: #ffffff;
}
h3{
    font-size: 24px;
    line-height: 1.1em;
    color: #ffffff;
}
p{
    font-size: 16px;
    line-height: 1.3em;
    color: #adadad;
}
 .p-accent{
    font-size: 16px;
    text-transform: uppercase;
 }

 a{
    text-decoration: none;
    color: aliceblue;
 }

 ul li{
    list-style: none;
    text-transform: uppercase;
 }

 .mobile-menu-icon{
    display: none;
 }

 .container{
    max-width: 1200px;
    margin: 0 auto;
 }

 header{
    padding: 20px;
    border-bottom: 1px solid #261241;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
 }

 nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
 }

 button{
    padding: 12px 24px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    line-height: 20px;
    display: flex;
    gap: 16px;
    align-items: center;
 }

 button i{
   font-size: 20px;
 }

.secondary{
   background: #ffffff00;
   border: 2px solid #00FF88;
   color: #00FF88;
 }

 #hero{
    padding: 80px 20px;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 #hero .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
 }

 #hero .hero-image{
   display: flex;
   align-items: center;
   justify-content: center;
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: clamp(12.5rem, 9.0909rem + 17.0455vw, 21.875rem);
    height: clamp(12.5rem, 9.0909rem + 17.0455vw, 21.875rem);
    position: relative;
 }

 .hero-image>img{
   width: clamp(3.125rem, 1.6023rem + 7.6136vw, 7.3125rem);
 }

 .badge{
    position: absolute;
    top: 32px;
    right: 0;
    background: #00FF88;
    color: #261241;
    box-shadow: 0 0 10px #00ff8871;
    animation: pulse 2s infinite;
 }

 @keyframes pulse {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.1); /* Scales up to 110% */
  }
  100% {
    transform: scale(1); /* Returns to original size */
  }
}


.hero-buttons{
   display: flex;
   gap: 24px;
 }
#about{
   padding: 40px 20px 80px 20px;
}
#about .container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   gap: 24px;
}


.stats{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   padding-top: 40px;
   border-top: 1px solid #261241;
}

.stats h3{
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 10px;
   color: #00FF88;
}


#why-us{
   background: #230E3D;
   padding: 80px 20px;
}

#why-us h2{
   text-align: center;
}

.cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 24px;
   margin-top: 40px;
}


.card{
   background-color: #1a0a2e;
   padding: 40px;
   border-radius: 32px;
   display: flex;
   flex-direction: column;
   gap:20px;
   justify-content: center;
}

.card img{
   max-width: 60px;
   max-height: 60px;
   object-fit: contain;
}

.card-1{
   grid-row: span 2;
}
.card-2{
   grid-column: span 2;
}

.card-3{
   grid-column: span 2;
}

.card-4{
   grid-column: span 2;
}




#host{
   padding: 80px 20px;
}

.the-host{
   display: flex;
   align-items: center;
   gap: 24px;
   padding: 40px;
   background-color: #261241;
   border-radius: 32px;
   margin-top: 40px;
}

#host h2{
   text-align: center;
}

.host-details{
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.host-social{
   display: flex;
   gap: 12px;
   margin-top: 10px;
}

.host-social a{
   width: 40px;
   height: 40px;
   padding: 8px;
   border: 3px solid #1a0a2e;
   border-radius: 24px;
   transition: 0.3s ease;
   display: flex;
   align-items: center;
   justify-content: center;
}

.host-social a:hover{
   transform: scale(1.2);
   background-color: #1a0a2e;
}


footer{
   padding: 120px 20px;
   background-image: url("./assets/footer-bg.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
footer .container{
   display: flex;
   flex-direction: column;
   gap: 32px;
   justify-items: center;
   align-items: center;
}

.footer-social{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 24px;
   flex-wrap: wrap;
}

/* ------------------------ Episod section --------------------------- */

.featured-episodes {
  max-width: 1200px;
  margin: auto;
  padding: 80px 24px;
}

.section-title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 48px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.episode-card {
  background: #2a0e4f;
  border-radius: 28px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Video */
.episode-media {
  position: relative;
  aspect-ratio: 16 / 9;
}

.episode-media iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Content */
.episode-content {
  padding: 28px;
}

.episode-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}

.episode-content p {
  font-size: 15px;
  line-height: 1.6;
  color: #d1d1d1;
  margin-bottom: 16px;
}

.duration {
  color: #3cff7f;
  font-size: 14px;
}

/* ========================= Tablet Devices ========================= */
@media (max-width: 992px) {
  
}


/* ========================= Small Mobile ========================= */
@media (max-width: 576px){
   .logo{
      max-width: 30%;
   }
   h1{
      font-size: 48px;
   }
   h2{
      font-size: 32px;
   }
   nav ul{
    display: none;
  }

  header button{
    display: none;
  }

  .hero-buttons{
   flex-wrap: wrap;
  }

  button{
   padding: 12px 20px;
  }

  .mobile-menu-icon{
    display: block;
  }
  .mobile-menu-icon a i{
    font-size: 20px;
  }



  .stats{
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   padding-top: 40px;
   border-top: 1px solid #261241;
 }

 .stats h3{
   font-size: 24px;
 }
 .cards{
   grid-template-columns: repeat(1, 1fr);
}
 .card{
   width: 100%;
 }

 .card-1,
 .card-2,
 .card-3,
 .card-4{
   grid-column: span 1;
   grid-row: span 1;
 }
 .the-host{
   flex-direction: column;
   text-align: center;
   padding: 32px;
 }
 header{
   text-align: center;
 }

 footer{
   padding: 80px 20px;
   text-align: center;
 }

 .host-social{
   align-items: center;
   justify-content: center;
}

.footer-logo img{
   max-width: 40%;
}
header .logo img{
   max-width: 120px;
}

#hero{
   padding: 40px 20px;
}

/* #hero .hero-image{
   width: 200px;
   height: 200px;
 } */
 /* .hero-image> img{
   max-width: 50px;
 } */
}
