*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
    line-height: 1.3em;
}

h1{
    font-size: 64px;
    line-height: 1.1em;
    color: #ffffff;
}
h2{
    font-size: 48px;
    line-height: 1.1em;
    color: #ffffff;
}
h3{
    font-size: 24px;
    line-height: 1.1em;
    color: #ffffff;
}
p{
    font-size: 16px;
    line-height: 1.3em;
    color: #adadad;
}
 .p-accent{
    font-size: 16px;
    text-transform: uppercase;
 }

 a{
    text-decoration: none;
    color: aliceblue;
 }

 ul li{
    list-style: none;
    text-transform: uppercase;
 }

 .mobile-menu-icon{
    display: none;
 }

 .container{
    max-width: 1200px;
    margin: 0 auto;
 }

 header{
    padding: 20px;
    border-bottom: 1px solid #261241;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
 }

 nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
 }

 button{
    padding: 12px 24px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 32px;
    cursor: pointer;
 }

.secondary{
   background: #ffffff00;
   border: 2px solid #00FF88;
   color: #00FF88;
 }

 #hero{
    padding: 80px 20px;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 }

 #hero .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
 }

 #hero .hero-image{
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 76px;
    position: relative;
 }

 .badge{
    position: absolute;
    top: 32px;
    right: 0;
    background: #00FF88;
    color: #261241;
    box-shadow: 0 0 10px #00ff8871;
    animation: pulse 2s infinite;
 }

 @keyframes pulse {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.1); /* Scales up to 110% */
  }
  100% {
    transform: scale(1); /* Returns to original size */
  }
}


.hero-buttons{
   display: flex;
   gap: 24px;
 }
#about{
   padding: 40px 20px 80px 20px;
}
#about .container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   gap: 24px;
}


.stats{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   padding-top: 40px;
   border-top: 1px solid #261241;
}

.stats h3{
   font-size: 48px;
   font-weight: 900;
   margin-bottom: 10px;
   color: #00FF88;
}


#why-us{
   background: #230E3D;
   padding: 80px 20px;
}

#why-us h2{
   text-align: center;
}

.cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 24px;
   margin-top: 40px;
}


.card{
   background-color: #1a0a2e;
   padding: 40px;
   border-radius: 32px;
   display: flex;
   flex-direction: column;
   gap:20px;
   justify-content: center;
}

.card img{
   max-width: 60px;
   max-height: 60px;
   object-fit: contain;
}

.card-1{
   grid-row: span 2;
}
.card-2{
   grid-column: span 2;
}

.card-3{
   grid-column: span 2;
}

.card-4{
   grid-column: span 2;
}



/* ========================= Tablet Devices ========================= */
@media (max-width: 992px) {
  
}


/* ========================= Small Mobile ========================= */
@media (max-width: 576px){
   h1{
      font-size: 48px;
   }
   h2{
      font-size: 32px;
   }
   nav ul{
    display: none;
  }

  header button{
    display: none;
  }

  .mobile-menu-icon{
    display: block;
  }

  .stats{
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   padding-top: 40px;
   border-top: 1px solid #261241;
 }

 .stats h3{
   font-size: 24px;
 }
 .cards{
   grid-template-columns: repeat(1, 1fr);
}
 .card{
   width: 100%;
 }

 .card-1,
 .card-2,
 .card-3,
 .card-4{
   grid-column: span 1;
   grid-row: span 1;
 }
}
